body{font-family: arial;font-size:12px}
.corte{float:left; width: 42px; height: 48px; border: 1px solid grey; color: grey;padding: 3px;}
.ul{list-style-type:none;} 
.bloqueada{background-color: grey;}
.campos{width: 33px; font-size: 26px; border: 0; text-align: right;}